/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 22 ago 2024, 12:22:52 p. m.
    Author     : hecto
*/
body{
    padding-top: 80px;
}
.starter-template{
    padding: 40px 15px;
    text-align: center;
}
